Bug: JWT aud claim decoding fails when array is provided

### Description

## Describing the bug

When decoding a JWT that includes an `aud` (audience) claim or verification audience as an array (e.g. `"aud": ["service-a", "service-b"]`),:
```python
decoded = Token.decode(
    token_payload,
    pem_key,
    audience=["service-a", "service-b"],
    algorithm=jwt_algorithm,
    strict_audience=False,
)
```
the decoding fails with the following error
```
ValidationError(‘Expected str | null, got array - at $.aud’)
```

## Expected behavior

According to [RFC 7519 Section 4.1.3](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.3), the `aud` claim **may be either a single string or an array of strings**.

The decoder (likely in `mspspec` or the JWT handling schema) should accept:
- `"aud": "some-audience"`
- `"aud": ["aud1", "aud2"]`

### URL to code causing the issue

_No response_

### MCVE

```python
from litestar.security.jwt import Token

decoded = Token.decode(
    token_payload,
    pem_key,
    audience=["service-a", "service-b"],
    algorithm=jwt_algorithm,
    strict_audience=False,
)
```

### Steps to reproduce

Create a valid JWT and pem_key and run the snippet


### Screenshots

_No response_

### Logs

```text
cls = <class 'litestar.security.jwt.token.Token'>
encoded_token = '...MyToken...'
secret = '-----BEGIN PUBLIC KEY-----\n...MyPublicKey...\n-----END PUBLIC KEY-----\n'
algorithm = 'RS256', audience = ['my-realm'], issuer = None
require_claims = None, verify_exp = True, verify_nbf = True
strict_audience = False

    @classmethod
    def decode(
        cls,
        encoded_token: str,
        secret: str,
        algorithm: str,
        audience: str | Sequence[str] | None = None,
        issuer: str | Sequence[str] | None = None,
        require_claims: Sequence[str] | None = None,
        verify_exp: bool = True,
        verify_nbf: bool = True,
        strict_audience: bool = False,
    ) -> Self:
        """Decode a passed in token string and return a Token instance.
    
        Args:
            encoded_token: A base64 string containing an encoded JWT.
            secret: The secret with which the JWT is encoded.
            algorithm: The algorithm used to encode the JWT.
            audience: Verify the audience when decoding the token. If the audience in
                the token does not match any audience given, raise a
                :exc:`NotAuthorizedException`
            issuer: Verify the issuer when decoding the token. If the issuer in the
                token does not match any issuer given, raise a
                :exc:`NotAuthorizedException`
            require_claims: Verify that the given claims are present in the token
            verify_exp: Verify that the value of the ``exp`` (*expiration*) claim is in
                the future
            verify_nbf: Verify that the value of the ``nbf`` (*not before*) claim is in
                the past
            strict_audience: Verify that the value of the ``aud`` (*audience*) claim is
                a single value, and not a list of values, and matches ``audience``
                exactly. Requires the value passed to the ``audience`` to be a sequence
                of length 1
    
        Returns:
            A decoded Token instance.
    
        Raises:
            NotAuthorizedException: If the token is invalid.
        """
    
        options: JWTDecodeOptions = {
            "verify_aud": bool(audience),
            "verify_iss": bool(issuer),
        }
        if require_claims:
            options["require"] = list(require_claims)
        if verify_exp is False:
            options["verify_exp"] = False
        if verify_nbf is False:
            options["verify_nbf"] = False
        if strict_audience:
            if audience is None or (not isinstance(audience, str) and len(audience) != 1):
                raise ValueError("When using 'strict_audience=True', 'audience' must be a sequence of length 1")
            options["strict_aud"] = True
            # although not documented, pyjwt requires audience to be a string if
            # using the strict_aud option
            if not isinstance(audience, str):
                audience = audience[0]
    
        try:
            payload = cls.decode_payload(
                encoded_token=encoded_token,
                secret=secret,
                algorithms=[algorithm],
                audience=audience,
                issuer=list(issuer) if issuer else None,
                options=options,
            )
            # msgspec can do these conversions as well, but to keep backwards
            # compatibility, we do it ourselves, since the datetime parsing works a
            # little bit different there
            payload["exp"] = datetime.fromtimestamp(payload["exp"], tz=timezone.utc)
            payload["iat"] = datetime.fromtimestamp(payload["iat"], tz=timezone.utc)
            extra_fields = payload.keys() - {f.name for f in dataclasses.fields(cls)}
            extras = payload.setdefault("extras", {})
            for key in extra_fields:
                extras[key] = payload.pop(key)
            return msgspec.convert(payload, cls, strict=False)
        except (
            KeyError,
            jwt.exceptions.InvalidTokenError,
            ImproperlyConfiguredException,
            msgspec.ValidationError,
        ) as e:
>           raise NotAuthorizedException("Invalid token") from e
E           litestar.exceptions.http_exceptions.NotAuthorizedException: 401: Invalid token

.venv/lib/python3.12/site-packages/litestar/security/jwt/token.py:193: NotAuthorizedException
```

### Litestar Version

Version: 2.16.0

### Platform

- [x] Linux
- [x] Mac
- [ ] Windows
- [ ] Other (Please specify in the description above)

Huh. That should have been included in the last releases. I guess I must have missed to backport this to the 2.x line. I'll make sure it's in the next one!